doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/themes/default/style.min.css')
    script(src='/jquery-2.1.1.min.js')
    script(src='/jstree.min.js')
  body
    block content