extends layout

block content
	h1 Nodetree
	form#formAddRanking(name="addPlayerRanks",method="post",action="/addRanking")
		input#inputPlayerRanks(type="text", placeholder="inputPlayerRanks", name="playerRanks")
		button#btnSubmit(type="submit") submit

	