extends layout

block content
	.center
		h1.
			Pokerlogen Ludoholic Livestilling
		
		each player, i in rankings
			div(class="rank el-#{i}" id="#{player[0]}" style="background:url('#{player[0]}.jpg')")
				span
					=player[1] + ' points'

					
		div
			form#formAddRanking(name="addPlayerRanks",method="post",action="/addRanking")
				input(type="checkbox",name="virtual", value="false") 
				input#inputPlayerRanks(type="hidden", placeholder="inputPlayerRanks", name="playerRanks")
				
		div#chart

		h1 Finalechips
		ul
			li Jesper: 13.440.000
			li Anders: 10.630.000
			li Alfred: 10.310.000
			li Lasse:  10.000.000
			li Martin:  8.750.000
			li Heino:   8.750.000
			li Jacob:   8.130.000
