doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/MooTools-More-1.5.1.js')
    script(src='/rankings.js')
    script(src='/MilkChart.yc.js')

  body
    block content