doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/MooTools-Core-1.5.1-compressed.js')
    script(src='/rankings.js')
  body
    block content